@page "/opleiding"

<PageTitle>Opleiding</PageTitle>

<h1>Opleiding</h1>
<p>
    In mijn opleiding werk ik aan mijn basis in software development, databases en web technologie.
    Ik oefen veel met projecten die zowel techniek als design combineren.
</p>
<p>
    Ik bouw stap voor stap aan mijn portfolio en ik blijf nieuwe tools ontdekken om mijn skills te verbeteren.
</p>
